.mainPage {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 60.5px;
  padding-bottom: 80px;
}
.subtitle {
  display: block;
  max-width: 389px;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .subtitle {
    max-width: 327px;
  }
  .mainPage {
    flex-direction: row;
    gap: 35.4%;
    padding-top: 129px;
    padding-bottom: 140px;
  }
}
